span {
    float: left;
}

div.center-align h4 {
    display: inline-block;
}

h4.flow-text {
    font-weight: bold;
}

.flow-text span {
    word-break: break-all;
}

.open-uri {
    cursor: pointer;
}

.parameter-row {
    margin-bottom: 0;
}

textarea.parameter {
    padding-top: .5em;
    padding-bottom: 0;
    border-bottom: none;
    margin: 1em .25em;
    min-height: 2em;
    height: 2em;
}