span {
    float: left;
}

div.center-align h4 {
    display: inline-block;
}

h4.flow-text {
    font-weight: bold;
}

.flow-text span {
    word-break: break-all;
}

.open-uri {
    cursor: pointer;
}

.edit-in-place span {
    cursor: pointer;
}

.edit-in-place input {
    display: none;
    border-bottom: none;
}

.edit-in-place.active span {
    display: none;
}

.edit-in-place.active input {
    display: inline-block;
}