<div class="container" ng-controller="urlDecoder">
    <div class="row">
        <div class="col s12" data-input-field>
            <label for="url">Enter a URL</label>
            <input id="url" type="text"
                   data-ng-model="url"
                   data-ng-change="parse()">
        </div>
        <div class="col s6" data-input-field>
            <label for="key-filter">Filter keys</label>
            <input id="key-filter" type="text"
                   data-ng-model="filter.key"
                   data-ng-init="filter.key=''">
        </div>
        <div class="col s6" data-input-field>
            <label for="value-filter">Filter values</label>
            <input id="value-filter" type="text"
                   data-ng-model="filter.value"
                   data-ng-init="filter.value=''">
        </div>
    </div>

    <br>

    <div class="center-align row">
        <h4 class="flow-text open-uri"
            title="Open in new tab"
            data-ng-click="openUri()"
            ng-if="parsed.uri.hostname">
            <span class="teal-text" ng-if="parsed.uri.protocol">{{parsed.uri.protocol}}://</span>
            <span class="green-text">{{parsed.uri.hostname}}</span>
            <span class="red-text" ng-if="parsed.uri.port">:{{parsed.uri.port}}</span>
            <span class="purple-text" ng-if="parsed.uri.path">{{parsed.uri.path}}</span>
            &nbsp;<i class="material-icons">arrow_forward</i>
        </h4>
    </div>

    <br>

    <div class="center-align row"
         ng-show="parsed.params">
        <div class="divider"></div>
        <div class="col s6">
            <h5>Key</h5>
        </div>
        <div class="col s6">
            <h5>Value</h5>
        </div>
    </div>

    <div ng-repeat="param in parsed.params track by $index"
         ng-show="param.key.indexOf(filter.key)>-1 && param.value.indexOf(filter.value)>-1"
         class="row parameter-row"
         data-ng-class="{'blue-grey lighten-5': $index%2==0}">
        <div class="col s6" data-input-field>
            <textarea id="key{{$index}}"
                      class="materialize-textarea parameter"
                      data-ng-change="reconstructUrl()"
                      data-ng-model="param.key"></textarea>
        </div>
        <div class="col s6" data-input-field>
            <textarea id="value{{$index}}"
                      class="materialize-textarea parameter"
                      data-ng-change="reconstructUrl()"
                      data-ng-model="param.value"></textarea>
        </div>
    </div>
</div>
