<div class="container" ng-controller="urlDecoder">
    <div class="row">
        <div class="col s12" data-input-field>
            <label for="url">Enter a URL</label>
            <input id="url" type="text"
                   data-ng-model="url"
                   data-ng-change="parse()">
        </div>
        <div class="col s6" data-input-field>
            <label for="key-filter">Filter keys</label>
            <input id="key-filter" type="text"
                   data-ng-model="filter.key"
                   data-ng-init="filter.key=''">
        </div>
        <div class="col s6" data-input-field>
            <label for="value-filter">Filter values</label>
            <input id="value-filter" type="text"
                   data-ng-model="filter.value"
                   data-ng-init="filter.value=''">
        </div>
    </div>

    <br>

    <div class="center open-uri valign-wrapper"
         ng-if="parsed.uri.hostname">
        <i class="material-icons"
           title="Permalink to this URL in the URLViewer"
           data-ng-click="openUriInViewer()">
            <a href="{{sharableUri()}}" target="_blank" class="black-text">share</a>
        </i>&nbsp;&nbsp;
        <h4 class="flow-text"
            title="Open this URL in new tab"
            data-ng-click="openUri()">
            <span class="teal-text" ng-if="parsed.uri.protocol">{{parsed.uri.protocol}}://</span>
            <span class="green-text">{{parsed.uri.hostname}}</span>
            <span class="red-text" ng-if="parsed.uri.port">:{{parsed.uri.port}}</span>
            <span class="purple-text" ng-if="parsed.uri.path">{{parsed.uri.path}}</span>
        </h4>
        &nbsp;<i class="material-icons" title="Open URL in new tab">arrow_forward</i>
    </div>

    <br>

    <div class="center-align row"
         ng-show="parsed.params.length>0">
        <div class="divider"></div>
        <div class="col s6">
            <h5>Key</h5>
        </div>
        <div class="col s6">
            <h5>Value</h5>
        </div>
    </div>

    <div data-ng-if="parsed.params.length>0">
        <div ng-repeat="param in parsed.params track by $index"
             ng-show="param.key.indexOf(filter.key)>-1 && param.value.indexOf(filter.value)>-1"
             class="row parameter-row"
             data-ng-class="{'blue-grey lighten-5': $index%2==0}">
            <div class="col s6" data-input-field>
                <textarea id="key{{$index}}"
                          class="materialize-textarea parameter"
                          data-ng-change="reconstructUrl()"
                          data-ng-model="param.key"></textarea>
            </div>
            <div class="col s6" data-input-field>
                <textarea id="value{{$index}}"
                          class="materialize-textarea parameter"
                          data-ng-change="reconstructUrl()"
                          data-ng-model="param.value"></textarea>
            </div>
        </div>
    </div>
</div>
